<app-navbar></app-navbar>
<!-- loader-->
<div class="loader-wrapper" *ngIf="loading">
    <div class="loader is-loading"></div>
</div>

<div class="container py-5">
    <div class="columns">
        <div class="column is-one-third">
            <div class="card-image">
                <figure class="image is-4by5">
                    <img [src]="movie?.posterPath" alt="Placeholder image">
                </figure>
            </div>
            <a class="button btn-full download mt-2" [href]="movie?.homepage" target="_blank">
                <strong>Download</strong>
            </a>
        </div>
        <div class="column">
            <h1>{{movie?.title}}</h1>
            <p>{{movie?.releaseDate[0]}}</p>
            <p class="mt-2">
                <span class="genre" *ngFor="let genre of movie?.genres">{{genre?.name}}</span>
            </p>
            <div class="my-5">
                <h2><b>Synopsis</b></h2>
                <p>{{movie?.overview}}</p>
            </div>
            <p class="movie-tag">
                <span class="left">Ratings:</span>
                <span> {{movie?.voteAverage}}
                </span>/10
                <span><img src="../../../../assets/icons/star.svg" alt=""></span>
            </p>
            <p class="movie-tag"><span class="left">Runtime: </span><b></b> <span>{{movie?.runtime}}</span>mins</p>
            <!-- format budget value with regex -->
            <p class="movie-tag"><span class="left">Budget:
                </span><b></b><span>${{budget}}</span></p>
            <p class="movie-tag"><span class="left">Status: </span><b></b> <span>{{movie?.status}}</span></p>

            <div class="card-image" (click)="openModal('custom-modal-1')">
                <figure class="image is-1x1 youtube-player">
                    <img [src]="movie?.backdropPath" class="thumbnail mt-4" alt="Placeholder image">

                    <img src="../../../../assets/icons/youtube.svg" alt="" id="youtube-icon">
                </figure>
            </div>

            <!-- modal for embeded youtube video -->
            <app-modal id="custom-modal-1">
                <div class="is-flex is-justify-content-flex-end mb-2">
                    <img id="close-icon" src="../../../../assets/icons/close.svg" (click)="closeModal('custom-modal-1')"
                        alt="close">
                </div>
                <iframe width="642" height="424" *ngIf="videoUrl && showVideo" [src]="videoUrl"
                    allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                    msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                    webkitallowfullscreen="webkitallowfullscreen">
                </iframe>
            </app-modal>
        </div>
    </div>
</div>